.container {
    position: fixed;
    bottom: 0;
    right: 20px;
    left: 20px;
    z-index: 10;
    background-color: var(--green);
    @media screen and (min-width: 768px) {
        left: auto;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: calc(100vw - 48px);
    padding: 12px;
    @media screen and (min-width: 768px) {
        padding: 16px;
        width: 400px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
    svg {
        width: 24px;
        height: 24px;
        color: #fff;
    }
}

.chat {
    width: 100%;
    overflow-y: scroll;
    border-top: 1px solid var(--grey500);
    height: 60vh;
    background-color: var(--grey300);
    @media screen and (min-width: 768px) {
        height: 80vh;
        max-height: 450px;
    }
}
