.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    margin-bottom: 100px;
    @media screen and (min-width: 768px) {
        padding: 18px 0;
        margin-bottom: 42px;
        box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.25);
    }
}

.logo {
    margin-right: auto;
    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
    svg {
        width: 100px;
        @media screen and (min-width: 400px) {
            width: 131px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
}

.user {
    display: flex;
    align-items: center;
    .userIcon {
        width: 25px;
        height: 25px;
        color: var(--grey500);
    }
    .caretIcon {
        width: 12px;
        height: 12px;
        color: var(--black);
    }
}

.userIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grey300);
}

.account {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 12px;
    @media screen and (min-width: 768px) {
        margin-left: 36px;
        padding: 0;
    }
    svg {
        width: 22px;
        height: 22px;
        color: var(--black);
    }
}

.myAccount {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 12px;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.accountName {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    padding: 12px;
    border-bottom: 1.5px solid var(--grey400);
}

.accountItem {
    a,
    button {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        padding: 12px;
        display: flex;
        &:hover {
            background-color: var(--grey200);
        }
    }
}

.button {
    p {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    svg {
        width: 18px;
        height: 18px;
        color: #fff;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
