.wrapper {
    padding: 18px 0 60px 0;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        line-height: 40px;
        font-size: 32px;
        margin-bottom: 30px;
    }
}

.head {
    margin: 0 -12px 60px -12px;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }
}

.profileInfos,
.profileSetting {
    padding: 0 12px;
}

.profileInfos {
    width: 100%;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        width: calc(100% / 3 * 2);
    }
}

.profileSetting {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc(100% / 3);
    }
}

.profileSettingItem:not(:last-child) {
    margin-bottom: 16px;
}

.articlesHead {
    margin-bottom: 36px;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.articlesTitle {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.search {
    width: 100%;
    max-width: 370px;
}

.articlesCount {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.options {
    position: absolute;
    top: 8px;
    right: 20px;
}
