.wrapper {
    padding: 45px 0;
    @media screen and (min-width: 768px) {
        padding: 0 0 90px 0;
    }
}

.infoWrapper {
    margin: 0 -12px 30px -12px;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.slider {
    width: 100%;
    padding: 0 12px;
    @media screen and (min-width: 768px) {
        width: 75%;
    }
}

.infos {
    margin-top: 30px;
    width: 100%;
    padding: 0 12px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 25%;
    }
}

.infosContent {
    height: 100%;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 12px;
}

.againstCategory {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 6px;
}

.date {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey700);
    margin-bottom: 24px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.userIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grey300);
    margin-right: 12px;
    svg {
        width: 25px;
        height: 25px;
        color: var(--grey500);
    }
}

.username {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
}

.seeUser {
    font-size: 12px;
    line-height: 15px;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 18px;
}

.description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 60px;
}

.others {
    margin-top: 30px;
}
