:root {
    --green: #143109;
    --black: #0b0b0b;
    --white: #f8f8f8;
    --grey200: #edf2f7;
    --grey300: #e2e8f0;
    --grey400: #cbd5e0;
    --grey500: #a0aec0;
    --grey600: #718096;
    --grey700: #4a5568;
    --grey800: #2d3748;
    --grey900: #1a202c;
}
