.m-select {
    position: relative;
    select {
        padding: 12px 42px 12px 16px;
        background-color: var(--grey200);
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        color: var(--black);
        width: 100%;
        display: block;
        option {
            color: var(--black);
        }
    }
    svg {
        pointer-events: none;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
    }
}
